.container {
  display: flex;
  margin: 0;
  flex-direction: column;
}
.container > div {
  display: flex;
}
.head > div {
  display: flex;
}
#flex {
  display: flex;
}
#btnOpen {
  display: flex;
}
#mypage {
  display: flex;
}
#Logoutbt {
  display: flex;
}
